<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="js/underscore.js"></script>

    <!--<script type='text/javascript' src='js/jquery-1.7.1.js'></script>-->
    <link rel="stylesheet" href="css/index.css"/>
    <title>Playa</title>
</head>
<body>



<!--Templates of pages ------------------------------------------------------->
<script id="home-tpl" type="text/template">
    <header>Playa</header>
    <div class="scroll">
        <ul class="mainMenu">
            <a href="#activities"><li>Activities</li></a>
            <a href="#restaurants"><li>Restaurants</li></a>
            <a href="#accomodations"><li>Accomodations</li></a>
            <a href="#discover"><li>Discover</li></a>
            <a href="#attractions"><li>Attractions</li></a>
        </ul>
    </div>
</script>

<script id="activities-tpl" type="text/template">
    <header><div id="back">Back</div>Activities</header>
    <div id="content">
        <div id="calendar"></div>
        <ul id="views">
            <li onclick="changeView('month')">Month</li>
            <li onclick="changeView('basicWeek')">Week</li>
            <li onclick="changeView('basicDay')">Day</li>
        </ul>
    </div>
</script>

<script id="discover-tpl" type="text/template">
    <header>Discover</header>
    <div id="map-canvas"></div>
</script>

<script id="restaurants-tpl" type="text/template">
    <header>Restaurants</header>
    <ul class="restaurantList"></ul>
</script>

<script id="restaurant-li-tpl" type="text/template">
    <li><a href="#restaurants/<%= id %>"><%= name %></br>Address:<%= address %></a></li>
</script>

<script id="restaurant-page-tpl" type="text/template">
    <header><%= name %></header>
    <%= address %>
</script>

<script id="accomodations-tpl" type="text/template">
    <header>Accomodations</header>
    <ul class="accomodationsList"></ul>
</script>

<script id="accomodation-li-tpl" type="text/template">
    <li><a href="#accomodations/<%= id %>"><%= name %></br>Address:<%= address %></a></li>
</script>

<script id="accomodation-page-tpl" type="text/template">
    <header><%= name %></header>
    <%= address %>
</script>

<script id="attractions-tpl" type="text/template">
    <header>Attractions</header>
    <ul class="attractionsList"></ul>
</script>

<script id="attraction-li-tpl" type="text/template">
    <li><a href="#attractions/<%= id %>"><%= name %></br>Address:<%= address %></a></li>
</script>

<script id="attraction-page-tpl" type="text/template">
    <header><%= name %></header>
    <%= address %>
</script>


<script src="./lib/jquery-1.8.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type='text/javascript' src='./fullcalendar/fullcalendar.js'></script>
<script type='text/javascript' src='./fullcalendar/gcal.js'></script>
<link rel='stylesheet' type='text/css' href='./fullcalendar/fullcalendar.css' />
<script src="js/HomeView.js"></script>
<script src="js/ActivitiesView.js"></script>
<script src="js/DiscoverView.js"></script>
<script src="js/RestaurantsView.js"></script>
<script src="js/RestaurantView.js"></script>
<script src="js/AccomodationsView.js"></script>
<script src="js/AccomodationView.js"></script>
<script src="js/AttractionsView.js"></script>
<script src="js/AttractionView.js"></script>
<script src="./js/main.js"></script>

<script>
    // this function calls google maps asynchronously when the script is dynamically added to the view
    function initialize() {
        var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng(-34.397, 150.644),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    }

</script>



</body>
</html>